@charset "UTF-8";

$webBackgroundColor: #edf0f3; //页面背景填充
$primaryTextColor: #444444; //主要文字 如页面标题，正文，目录
$secondaryTextColor: #969696; //次要文字 备注描述，教学内容中分类项目文字
$linkColor: #8d77fb; //文字链接色
$warningColor: #f60000; //错误警告色
$inputBackgroundColor: #f2f2f2; //文本下拉框填充
$borderColor: #e6e6e6; //边框颜色 分隔线
$primaryColor: #53aaf2;
$lightPrimaryColor: #61b0f0;
$deepPrimaryColor: #3ba0f3;
$disableTextColor: #bbbbbb;
$disableColor: #ededed;

$iconGrey: #cbcbd1;
$secondaryIconGrey: #e4e4f4;

$contentWidth: 980px;
$headerHeight: 72px;
